.college-card-home {
	border: 1px solid;
	margin: 10px;
}

.event {
	background-color: #dfdfdf;
	padding: 1px 8px;
	font-size: 15px;
	border-radius: 8px;
}

.details {
	background-color: #dfdfdf;
	margin-top: 10px;
    border: 3px solid transparent;
}

.details:hover {
	background-color: #ffffff;
    border: 3px solid #dfdfdf;
}

.box-text {
	height: 280px;
}

.box-text-card{
	height: 190px;
}