.logo {
	width: 80px;
}

.login-btn {
	font-size: 20px;
	background-color: #2c4f1e;
	color: white;
	padding: 6px 25px;
	border: 3px solid transparent;
}

.login-btn:hover {
	background-color: wheat;
	border: 3px solid transparent;
	color: black;
}

.topnav {
	background-color: #ffffff17;
}

.active{
    color: #fff !important;
    font-size: larger;
	font-weight: 900;
	text-shadow: 0 0 10px #000;
}

.camp{
	color: #ffffff9e;
}