.input-login {
	width: 100%;
	border: 4px solid #24751269;
	padding: 15px 25px;
	border-radius: 26px;
	outline: none;
	color: #373737;
	font-size: 20px;
	font-weight: 700;
}

.login-button {
	width: 100%;
	border: 4px solid transparent;
	padding: 15px 25px;
	border-radius: 26px;
	outline: none;
	background-color: antiquewhite;
	color: #373737;
	font-size: 20px;
	font-weight: 700;
}

.login-button:hover {
	border: 4px solid #373737;
	background-color: #ffffff;
	color: #373737;
}

.social{
    display: flex;
    align-items: center !important;
    justify-content: center !important;
    background-color: antiquewhite;
    padding: 15px;
    margin: 0;
    width: 80px !important;
    height: 80px !important;
    border-radius: 50%;
    text-align: center;
}