.college-banner{
    background-image: url("https://images.pexels.com/photos/933964/pexels-photo-933964.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top;
	min-height: 95vh;
}

.college-banner-text{
	margin-top: 180px;
	padding: 10px;
}